[submodule "ros/src/usv_sim"]
	path = ros/src/usv_sim
	url = https://github.com/t-thanh/usv_simulator.git
[submodule "ros/src/uav_sim/simulation"]
	path = ros/src/uav_sim/simulation
	url = https://github.com/t-thanh/simulation.git
[submodule "ros/src/uav_sim/uav_core"]
	path = ros/src/uav_sim/uav_core
	url = https://github.com/t-thanh/uav_core.git
[submodule "ros/src/ros_landing/uav_gimbal"]
	path = ros/src/ros_landing/uav_gimbal
	url = https://github.com/t-thanh/uav_gimbal.git
[submodule "ros/src/ros_landing/gimbal_usv_tracker"]
	path = ros/src/ros_landing/gimbal_usv_tracker
	url = https://github.com/t-thanh/gimbal_usv_tracker.git
[submodule "ros/src/ros_landing/otter_usv_detector"]
	path = ros/src/ros_landing/otter_usv_detector
	url = https://github.com/t-thanh/otter_usv_detector.git
